<%- include('../partials/header') %>
    <a href="/reservations/new">Make a New Reservation</a>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <% if (reservations.length === 0) { %>
        <p>No reservations found.</p>
    <% } else { %>
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>People</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <% reservations.forEach(reservation => { %>
                <% if (reservation.timeSlot) { %>
                    <tr>
                        <td><%= reservation.timeSlot.date.toDateString() %></td>
                        <td><%= reservation.timeSlot.time %></td>
                        <td><%= reservation.numberOfPeople %></td>
                        <td><%= reservation.status %></td>
                        <td>
                            <% if (reservation.status !== 'cancelled') { %>
                                <form method="POST" action="/reservations/<%= reservation._id %>?_method=PUT" style="display:inline;" onsubmit="return confirm('Are you sure you want to cancel your reservation on <%= reservation.timeSlot.date.toDateString() %> at <%= reservation.timeSlot.time %>?');">
                                    <button type="submit">Cancel</button>
                                </form>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            <% }) %>
        </table>
    <% } %>
</div>
<%- include('../partials/footer') %>