<%- include('../../partials/header') %>
<div class="timeSlot-container">
        <h1>Edit Time Slot</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form method="POST" action="/staff/timeSlots/<%= timeSlot._id %>?_method=PUT">
        <div>
            <label>Date: <input type="date" name="date" value="<%= timeSlot.date.toISOString().split('T')[0] %>" required></label><br>
        </div>
       
        <div>
             <label>Time: <input type="time" name="time" value="<%= timeSlot.time %>" required></label><br>
        </div>
        
        <div>
            <label>Capacity: <input type="number" name="capacity" value="<%= timeSlot.capacity %>" min="1" required></label><br>
        </div>
        <button type="submit">Update</button>
    </form>
</div>
    
<%- include('../../partials/footer') %>